/* Fonts */

@font-face {
  font-family: "outfit-regular";
  src: url(../fonts/Outfit-Regular.ttf);
}
@font-face {
  font-family: "outfit-bold";
  src: url(../fonts/Outfit-Bold.ttf);
}

/* Variables */

:root {
  --black: rgb(31, 49, 79);
  --dark-grey: rgb(104, 119, 141);
  --light-grey: rgb(213, 225, 239);
  --white: rgb(255, 255, 255);

  --large-spacing: 2.5rem;
  --medium-spacing: 1.5rem;
  --small-spacing: 1rem;

  --regular-font: "outfit-regular", system-ui, Arial, Helvetica;
  --bold-font: "outfit-bold", Arial, Helvetica;
  --regular-font-size: 0.9375rem; /* 15px */
  --bold-font-size: 1.375rem; /* 22px */

  font-family: var(--regular-font);
  font-size: 1em;
}

/* Typography Classes */
.text-bold {
  font-size: var(--bold-font-size);
  line-height: 120%;
  letter-spacing: 0px;
  font-family: var(--bold-font);
}

.text-regular {
  font-size: var(--regular-font-size);
  line-height: 140%;
  letter-spacing: 0.2px;
  font-family: var(--regular-font);
}

/* Layout */

main {
  height: 100vh;
  background-color: var(--light-grey);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--medium-spacing);
}

.qr-code-container {
  background-color: var(--white);
  width: 325px;
  padding: var(--small-spacing);
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(104, 119, 141, 0.05),
    0 15px 40px rgba(104, 119, 141, 0.2);

  display: flex;
  flex-direction: column;
}

/* Components */

p,
h1 {
  padding: 0 var(--small-spacing);
  text-align: center;
}

img {
  border-radius: 15px;
}

div h1 {
  padding-top: var(--medium-spacing);
  padding-bottom: var(--small-spacing);
}

div p:last-child {
  padding-bottom: var(--medium-spacing);
  color: var(--dark-grey);
}
